## Settings file was created by plugin Sephiria Unified Mod Panel v0.2.0
## Plugin GUID: com.sephiria.unifiedmodpanel

[面板]

## 打开或关闭统一模组配置面板。
# Setting type: Key
# Default value: F1
# Acceptable values: None, Space, Enter, Tab, Backquote, Quote, Semicolon, Comma, Period, Slash, Backslash, LeftBracket, RightBracket, Minus, Equals, A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z, Digit1, Digit2, Digit3, Digit4, Digit5, Digit6, Digit7, Digit8, Digit9, Digit0, LeftShift, RightShift, LeftAlt, RightAlt, AltGr, LeftCtrl, RightCtrl, LeftMeta, LeftWindows, LeftApple, LeftCommand, RightMeta, RightWindows, RightApple, RightCommand, ContextMenu, Escape, LeftArrow, RightArrow, UpArrow, DownArrow, Backspace, PageDown, PageUp, Home, End, Insert, Delete, CapsLock, NumLock, PrintScreen, ScrollLock, Pause, NumpadEnter, NumpadDivide, NumpadMultiply, NumpadPlus, NumpadMinus, NumpadPeriod, NumpadEquals, Numpad0, Numpad1, Numpad2, Numpad3, Numpad4, Numpad5, Numpad6, Numpad7, Numpad8, Numpad9, F1, F2, F3, F4, F5, F6, F7, F8, F9, F10, F11, F12, OEM1, OEM2, OEM3, OEM4, OEM5, IMESelected, F13, F14, F15, F16, F17, F18, F19, F20, F21, F22, F23, F24, MediaPlayPause, MediaRewind, MediaForward
打开快捷键 = F1

## 原生资源准备好后屏蔽旧 F1/F9 面板；关闭本项可恢复。
# Setting type: Boolean
# Default value: true
接管旧面板 = true

