## Settings file was created by plugin Sephiria Cheat Lab v1.0.1
## Plugin GUID: com.sephiria.itemlab

[Catalog]

## Include the official internal/test-only catalog entries while Cheat Lab is open. Use with caution.
# Setting type: Boolean
# Default value: false
ShowInternalItems = false

[General]

## Open or close the official Item Box outside the training school.
# Setting type: KeyboardShortcut
# Default value: O
OpenItemLab = O

