## Settings file was created by plugin Sephiria Bond Artifact Wishes v0.2.0
## Plugin GUID: com.codex.sephiria.bondartifactwishes

[WishingFountain]

## Cost of each unlocked bond artifact (ItemEntity.isDual) in the Wishing Fountain.
# Setting type: Int32
# Default value: 9
# Acceptable value range: From 0 to 999
BondArtifactCost = 9

