## Settings file was created by plugin Sephiria Talent Customizer v1.0.2
## Plugin GUID: com.codex.sephiria.talent-customizer

[Internal]

## 主菜单重置时，下一次进入本地角色后清除原有天赋。
# Setting type: Boolean
# Default value: false
ResetOnNextLoad = false

[Talents]

## 额外天赋点；保存的是额外总量，重复保存不叠加。
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 9999
ExtraPoints = 90

